.ability-scores {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.ability-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-input {
  text-align: center;
}

.modifier {
  margin-top: 0.5rem;
  font-weight: bold;
}

.fancy-button {
  background-color: rgb(59, 137, 240); /* BLue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline-block */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 12px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.fancy-button:hover {
  background-color: rgb(52, 117, 202); /* Darker blue on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}

.fancy-button:active {
  background-color: rgb(42, 95, 165); /* Even darker blue when clicked */
  transform: scale(0.95); /* Slightly smaller when clicked */
}

.hidden {
  display: none;
}

#pointBuySection {
  margin-top: 1rem;
  font-weight: bold;
}

.locked-input {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #888;
  pointer-events: none;
}

.chosen-input {
  margin-top: 0.5rem;
}